@{
    ViewData["Title"] = "Index";
}

<h2>Control Panel</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Role">RoleManager</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="UserRole">UserRoles</a> 
        <a class="btn btn-primary" asp-controller="Restaurant" asp-action="All">Restaurants</a> 
    </div>
</div>



