@using Microsoft.EntityFrameworkCore;
@using Orders.Core.Models

@model Orders.Core.Models.OrderViewModel

@{
    ViewData["Title"] = "Създаване на нова поръчка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!---------------------------------lentoff form create owner---------------------------------------->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Нова поръчка</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="RestaurantId" class="control-label">Обект</label>
                                <select class="custom-select" name="RestaurantId" id="RestaurantId">
                                    @foreach (var item in ViewData["restaurants"] as List<RestaurantViewModel>)
                                    {
                                        <option value=@item.Id>@item.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input asp-for="UserName" class="form-control" placeholder="Име и фамили ..." />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-check"></i></span>
                                </div>
                                <input asp-for="Street " class="form-control" placeholder="ул. ..." />
                                <span asp-validation-for="Street" class="text-danger"></span>

                                <span asp-validation-for="Number" class="text-danger"></span>
                                <input asp-for="Number" class="form-control" placeholder="Номер ..." />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-check"></i></span>
                                </div>
                                <input asp-for="AddressOther" class="form-control" placeholder="Допълнителна информация ..." />
                                <span asp-validation-for="AddressOther" class="text-danger"></span>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <span class="form-control col-2">+359</span>
                                <input asp-for="PhoneNumner" class="form-control col-3" placeholder="999999999" />
                                <span asp-validation-for="PhoneNumner" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>Сума</label>
                                <div class="input-group">
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                    <div class="input-group-append">
                                        <span class="input-group-text">лв</span>
                                    </div>
                                </div>
                            </div>

                            <!-- select -->
                            <div class="form-group">
                                <label asp-for="DeliveryPrice" class="control-label">Цена на доставка</label>
                                <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
                                <select class="custom-select" name="DeliveryPrice" id="DeliveryPrice">
                                    <option value="3.99">3.99 лв.</option>
                                    <option value="5.99">5.99 лв.</option>
                                    <option value="10.99">10.99 лв.</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="TimeForDelivery" class="control-label">Време на доставка</label>
                                <span asp-validation-for="TimeForDelivery" class="text-danger"></span>
                                <select class="custom-select" name="TimeForDelivery" id="TimeForDelivery">
                                    <option value="30">30 мин.</option>
                                    <option value="45">45 мин.</option>
                                    <option value="90">90 мин.</option>
                                </select>
                            </div>
                            <!-- checkbox -->

                            <div class="form-group">
                                <span asp-validation-for="PaymentType" class="text-danger"></span>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" name="PaymentType" type="checkbox" id="PaymentType" value="В брой">
                                    <label for="PaymentType" class="custom-control-label">В брой</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input custom-control-input-danger" name="PaymentType" type="checkbox" id="PaymentType2" value="С карта">
                                    <label for="PaymentType2" class="custom-control-label">С карта</label>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" value="Create" class="btn btn-info">Създай</button>
                            </div>
                            <!-- /.card-footer -->
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->

                    </form>

                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

        </div>
    </div>
</section>


