@using Orders.Core.Models
@model OrderViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" type="hidden" />
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumner" class="control-label"></label>
                    <input asp-for="PhoneNumner" class="form-control" />
                    <span asp-validation-for="PhoneNumner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryPrice" class="control-label"></label>
                    <input asp-for="DeliveryPrice" class="form-control" />
                    <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="PaymentType" asp-for="PaymentType" class="control-label"></label>
                    <select name="PaymentType">
                        <option value="В брой">В брой</option>
                        <option value="Card">Card</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="DriverId" asp-for="DriverId" class="control-label"></label>
                    <select name="DriverId">
                        @foreach (var driver in ViewBag.drivers)
                        {
                            <option value="@driver.Id">@driver.FirstName @driver.LastName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="All">Back to List</a>
</div>

