@{
    ViewData["Title"] = "Index";
}

<h2>Control Panel</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-block btn-outline-dark btn-sm" asp-controller="Order" asp-action="NewOrders">New Order</a>
        <a class="btn btn-block btn-outline-dark btn-sm" asp-controller="Order" asp-action="All">All Orders</a>
    </div>
</div>


