html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*  margin-bottom: 60px;*/
}

#Нова {
    background-color: aquamarine;
}
#Нова {
    background-color: aquamarine;
}

#Приета {
    background-color: lightyellow;
}

#Насочена {
    background-color: burlywood !important;
}

#Изпратена {
    background-color: sandybrown !important;
}

#Доставена {
    background-color: chartreuse !important;
}

#Отказана {
    background-color: palevioletred !important;
}
