<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Products
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Product" asp-action="Index">
                        <p>All Products</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Product" asp-action="Create">
                        <p>Create Products</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Order
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Order" asp-action="All">
                        <p>All Orders</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Order" asp-action="Create">
                        <p>Create Orders</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>