<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                    Поръчки
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Order" asp-action="NewOrders">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Нови поръчки</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Order" asp-action="All">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Всички</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>